<div class="span6 pull-right download_links">
  <a href="/file_assets/<%= params[:id] %>"><i class="icon-picture"/></i>&nbsp;Download Image</a>&nbsp;&nbsp;<% if (!current_user.nil? && current_user.has_role?(:archivist)) %><a href="/file_assets/archival/<%= params[:id] %>"><i class="icon-picture"/></i>&nbsp;Download High-resolution<% else %></a><a href="http://sites.tufts.edu/dca/research-help/image-requests/"><i class="icon-envelope"/></i>&nbsp;Request High-resolution</a><% end %>
</div>
