<% stylesheet_links <<  "tuftsification.css" %>
<% javascript_includes <<  "tuftsification.js" %>

<% metadata = Tufts::ModelMethods.get_metadata(@document_fedora) %>


<div class="row">
  <div class="span12">
    <%= render :partial => 'shared/header_elements', :locals => {:metadata => metadata} %>
  </div>
  <!-- span12 -->
</div>  <!-- row -->

<hr>

<div class="row">
  <div class="span6">
    <%= raw Tufts::MediaPlayerMethods.show_audio_player(params[:id], false) %>
    <br>
  </div>
  <!-- span6 -->
  <div class="span6">
    <%= render :partial => 'shared/metadata_pane', :locals => {:metadata => metadata} %>
  </div>
  <!-- span6 -->
</div>  <!-- row -->
