.EAD_TOC {
  position: relative;
  top: 0px;
  left: 0px;
}

/* EAD_H5 and EAD_H6 override styles set elsewhere to style the headers as desired for the EAD pages. */

.EAD_H4 {
  font-weight: bold;
}

.EAD_H5 {
  font-weight: bold;
  color: #333333;
}

.EAD_H6 {
  text-transform: none;
  font-size: 14px;
  font-weight: normal;
}

.EAD_LABEL {
  font-weight: bold;
}

.table .ead_indent0 {
  padding-left: 1em;
}

.table .ead_indent1 {
  padding-left: 3em;
}

.table .ead_indent2 {
  padding-left: 7em;
}

.table .ead_indent3 {
  padding-left: 10em;
}

.table .ead_indent4 {
  padding-left: 13em;
}

.table .ead_indent5 {
  padding-left: 16em;
}

.table .ead_indent6 {
  padding-left: 19em;
}

.table .ead_indent7 {
  padding-left: 22em;
}

.table .ead_indent8 {
  padding-left: 25em;
}

.table .ead_indent9 {
  padding-left: 28em;
}

.table .ead_indent10 {
  padding-left: 31em;
}

.table .ead_indent11 {
  padding-left: 34em;
}

.table .ead_indent12 {
  padding-left: 37em;
}