<%-
@page_title = "Historical New England Medical Center Archives"
-%>
<!-- LEFT SIDE/ FOR FLUID COLUMN TITLE ROW -->
<div class="row-fluid">
  <div class="span12">
  </div>

  <!-- nested row LEFT -->
  <div class="row-fluid">

    <div class="span3">
      <%= render :partial => 'about/menu' %>
    </div>


    <!-- nested Fluid RIGHT -->
    <div class="row">
      <div class="span8">
        <h2><%= @page_title %></h2>

        <div id="static_thumbnail">
          <ul class="thumbnails ">
            <li class="span5">
              <div class="thumbnail">
                <a href="#"><img src="/file_assets/tufts:UA014.001.DO.03147" width="435px" height="304px" alt="Doctors and Nurses at the Onshore Department of the Boston Floating Hospital"></a>

              </div>
            </li>
          </ul>
        </div>

       <p>As of July 2013, DCA is preserving the historical New England Medical Center (NEMC) Archives for the Tufts Medical Center located in Boston, MA. </p>

       <p>The collection consists of the archives for NEMC, Inc., Tufts-New England Medical Center (T-NEMC) Inc., Boston Dispensary, Boston Floating Hospital, Pratt Clinic/New England Center Hospital, Bingham Associates Fund, and their affiliates. Materials date from 1894 to the early 1990s and include records, personal papers, photographs, slides and negatives, audiovisual media, sound recordings, and a few artifacts. The collection is open for research except for personally identifiable information (including those protected by HIPA and FERPA) and records that are less than 20 years old. </p>

      <p>After extensive conservation treatment, the approx. 500 linear feet of historical records are currently being processed. In the meantime we have created a box level inventory of the unprocessed records before conservation treatment; please <a href="/contact">contact us</a> and we will gladly send you a copy of the inventory for your research. </p>
      
      <p>If you are interested in the above institutions, the following materials are already available for research:</p>

      <h4>For background information</h4>
      <ul>
        <li><a href="/catalog/tufts:MS099.002.036.00002">Timeline: New England Medical Center (1665-1992)</a></li>
        <li><a href="/catalog/tufts:MS099.002.036.00001">Historical Resource Guide: New England Medical Center</a></li>
        <li><a href="/catalog/tei/tufts:UA069.005.DO.00001/chapter/T00038">Brief entry for NEMC and TNEMC in Tufts Concise Encyclopedia</a></li>
      </ul>

      <h4>For online photographs</h4>
      <ul>
        <li><a href="/catalog?utf8=%E2%9C%93&q=%22Boston+Dispensary%22&search_field=all_fields">Boston Dispensary</a></li>
        <li><a href="/catalog?utf8=%E2%9C%93&q=%22Boston+Floating+Hospital%22&search_field=all_fields">Boston Floating Hospital</a></li>
        <li><a href="/catalog?page=21&q=%22New+England+Medical+Center%22&search_field=all_fields&sort=pub_date_sort+desc%2C+title_sort+asc&utf8=%E2%9C%93&year_end=&year_start=">NEMC</a></li>
        <li><a href="/catalog?utf8=%E2%9C%93&q=%22Tufts+New+England+Medical+Center%22&search_field=all_fields">T-NEMC</a></li>
        <li><a href="/catalog?utf8=%E2%9C%93&f%5Bobject_type_facet%5D%5B%5D=Images&keyword=&title=&author=&collection=UA014&year_start=&year_end=&description=&organization=&people=&place=&topic=&search_field=advanced&commit=Search">Tufts New England Medical Center Planning Office</a></li>
      </ul>

      <h4>For archival records</h4>
      <ul>
        <li><a href="/catalog/tufts:UA069.001.DO.UA144">Tufts New England Medical Center records, 1930-98</a> – to be merged with historical Archives of NEMC</li>
        <li><a href="/catalog/tufts:UA069.001.DO.UA014">Tufts New England Medical Center Planning Office, records, 1943-1980</a></li>
      </ul>

        <h4>Further help</h4>

        <p>For more information, or for access to non-digitized materials, <a href="/contact">contact DCA</a>.
        </p>
      </div>
    </div>
  </div>
</div>
