<% [:notice, :error, :alert, :retrieval].each do |type| %>
  <% if flash[type] %>
          <div class="alert alert-error">
            <a class="close" data-dismiss="alert">×</a>
            <% if (type.to_s == 'retrieval') %>
              <h4 class="alert-heading">Error retrieving object</h4>
            <% end %>
            <%= raw flash[type] %>
          </div>
    <%if false %>        
          <div class="ui-state-<%= type == :error ? 'error' : 'highlight' %> ui-corner-all <%= type.to_s %>"><%= flash[type].to_html %></div>
    <% end %>
  <% end %>
<% end %>
