<div class="span7">
<h2>Welcome to the Dark Archive.</h2>
  <p>The Dark Archive is the Digital Collection and Archives' portal to access-restricted and digital objects. Please refer to CIDER for access information for all objects in the Dark Archive.</p>
</div>
